Repository JeeCharns/hivemind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

feat: add mobile social sheet for responsive sidebar
  components/social/MobileSocialSheet.tsx
  components/social/index.ts
Due: prettier --check, eslint

feat: integrate mobile social sheet into HiveHome
  app/hives/[hiveId]/HiveHome.tsx
Due: prettier --check, eslint

docs: update documentation for Welcome Hive feature
  docs/feature-map.md
  docs/setup/README.md
  supabase/README.md
Due: prettier --check

fix: add missing files and make Welcome Hive public
  app/api/hives/[hiveId]/reactions/route.ts
  app/api/profile/status/route.ts
  app/components/conversations/MultiStepCard.tsx
  app/components/conversations/__tests__/MultiStepCard.test.tsx
  app/hives/[hiveId]/HiveHomeSidebar.tsx
  app/hives/[hiveId]/page.tsx
  components/hives/CreateHiveCTA.tsx
  lib/hives/server/__tests__/joinWelcomeHive.test.ts
  lib/hives/server/joinWelcomeHive.ts
  lib/social/server/__tests__/reactionsService.test.ts
  lib/social/server/reactionsService.ts
  package-lock.json
  package.json
  scripts/seed-welcome-hive.ts
Due: prettier --check, eslint

feat: improve Welcome Hive sidebar UI
  components/social/PresenceSidebar.tsx
  components/social/ReactionsSidebar.tsx
  lib/social/hooks/useHiveReactions.ts
  lib/social/server/reactionsService.ts
  lib/social/types.ts
  scripts/seed-welcome-hive.ts
Due: prettier --check, eslint

fix: add error handling to Chat sidebar
  components/social/ReactionsSidebar.tsx
Due: prettier --check, eslint

fix: fetch profiles separately for reactions display names
  app/hives/[hiveId]/page.tsx
  lib/social/server/reactionsService.ts
Due: prettier --check, eslint

chore: add logging for profile display_name debugging
  app/hives/[hiveId]/page.tsx
Due: prettier --check, eslint

docs: add git rules requiring explicit approval for commits/pushes
  CLAUDE.md
Due: prettier --check

chore: add debug logging for presence + stricter git rules
  CLAUDE.md
  lib/social/hooks/useHivePresence.ts
Due: prettier --check, eslint

feat: add edit/delete functionality to Chat sidebar
  app/api/hives/[hiveId]/reactions/[reactionId]/route.ts
  app/hives/[hiveId]/HiveHomeSidebar.tsx
  components/social/MobileSocialSheet.tsx
  components/social/ReactionsSidebar.tsx
  lib/social/hooks/useHiveReactions.ts
Due: prettier --check, eslint

feat: move viewer count to Chat header, remove Who's here section
  app/hives/[hiveId]/HiveHomeSidebar.tsx
  components/social/MobileSocialSheet.tsx
  components/social/ReactionsSidebar.tsx
Due: prettier --check, eslint

feat: integrate MultiStepCard for linked Discuss/Decide conversations
  app/hives/[hiveId]/HiveHome.tsx
  app/hives/[hiveId]/HiveHomeSidebar.tsx
  components/social/ActivitySidebar.tsx
  components/social/MobileSocialSheet.tsx
  lib/conversations/getConversationCta.test.ts
  lib/conversations/server/listHiveConversations.ts
  types/conversations.ts
Due: prettier --check, eslint

revert: remove MultiStepCard grouping, show individual conversation cards
  app/hives/[hiveId]/HiveHome.tsx
Due: prettier --check, eslint

docs: add notifications feature design
  docs/plans/2026-02-19-notifications-design.md
Due: prettier --check

feat(notifications): add domain types and Zod schemas
  lib/notifications/domain/notification.types.ts
  lib/notifications/server/schemas.ts
Due: prettier --check, eslint

feat: add real-time conversation updates on hive homepage
  app/hives/[hiveId]/HiveHome.tsx
  app/hives/[hiveId]/page.tsx
  lib/conversations/hooks/index.ts
  lib/conversations/hooks/useHiveConversations.ts
  supabase/migrations/038_enable_conversations_realtime.sql
Due: prettier --check, eslint

feat(db): add notifications table and triggers
  supabase/migrations/039_create_notifications.sql
Due: none

fix(db): address code review feedback for notifications migration
  supabase/migrations/039_create_notifications.sql
Due: none

feat(notifications): add email service with Nodemailer
  lib/notifications/server/emailService.ts
  package-lock.json
  package.json
Due: prettier --check, eslint

feat: add user avatars to live feed responses
  app/api/conversations/[conversationId]/responses/route.ts
  app/components/conversation/ListenView.tsx
Due: prettier --check, eslint

fix(notifications): escape HTML in email templates
  lib/notifications/server/emailService.ts
Due: prettier --check, eslint

feat(notifications): add notification service
  lib/notifications/server/notificationService.ts
Due: prettier --check, eslint

fix(notifications): address code review feedback for notification service
  lib/notifications/server/notificationService.ts
Due: prettier --check, eslint

feat(api): add notification API endpoints
  app/api/notifications/email/route.ts
  app/api/notifications/read/route.ts
  app/api/notifications/route.ts
  app/api/profile/notifications/route.ts
Due: prettier --check, eslint

feat(notifications): add useNotifications real-time hook
  lib/notifications/hooks/useNotifications.ts
Due: prettier --check, eslint

refactor(notifications): improve useNotifications hook API
  lib/notifications/hooks/useNotifications.ts
Due: prettier --check, eslint

feat(ui): add NotificationBell and NotificationDropdown components
  app/components/navbar/NotificationBell.tsx
  app/components/navbar/NotificationDropdown.tsx
Due: prettier --check, eslint

feat(navbar): integrate NotificationBell into Navbar
  app/components/Navbar.tsx
  lib/navbar/getNavbarViewModel.ts
  types/navbar.ts
Due: prettier --check, eslint

feat(settings): add email notification preferences UI
  app/settings/AccountSettingsForm.tsx
  lib/notifications/hooks/useNotificationPreferences.ts
Due: prettier --check, eslint

docs: add notifications feature documentation
  docs/feature-map.md
  docs/setup/README.md
Due: prettier --check

feat(db): add pg_net email sending to notification triggers
  supabase/migrations/040_add_email_to_notification_triggers.sql
Due: none

docs: update for pg_net email migration
  docs/feature-map.md
  docs/setup/README.md
Due: prettier --check

fix: make realtime migration idempotent
  supabase/migrations/038_enable_conversations_realtime.sql
Due: none

feat: add metadata, favicon, and OpenGraph configuration
  CLAUDE.md
  app/layout.tsx
Due: prettier --check, eslint

feat: add favicon, social banner, and BIMI logo assets
  public/HiveEmblem.svg
  public/HiveFavicon.png
  public/HiveFaviconDarkMode.png
  public/HiveSocialBanner.png
Due: none

docs: add notifications implementation plan and additional branding assets
  docs/plans/2026-02-19-notifications-implementation.md
  public/apple-touch-icon.png
  public/hive-logo-bimi.svg
Due: prettier --check

feat> fix avata image appearing in hive menu 2202
  app/components/navbar/HiveSelector.tsx
  app/components/navbar/MobileDrawer.tsx
  lib/navbar/getNavbarViewModel.ts
  package-lock.json
  types/navbar.ts
Due: prettier --check, eslint

fix prettier formatting
  lib/decision-space/server/__tests__/integration.test.ts
Due: prettier --check, eslint

Path conditions:
  prettier --check: any of: *.{js,cjs,mjs,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx}
