Repository JeeCharns/hivemind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}": [
    "prettier --check"
  ],
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint"
  ]
}

feat: allow flexible writing style in executive summary
  app/api/conversations/[conversationId]/report/route.ts
Due: prettier --check, eslint

profile setup step for new users invited via link
  app/invite/[token]/InviteAcceptClient.tsx
  app/profile-setup/ProfileSetupForm.tsx
  app/profile-setup/page.tsx
  supabase/README.md
  supabase/migrations/025_add_missing_fk_indexes.sql
  supabase/migrations/026_fix_rls_initplan_performance.sql
  supabase/migrations/027_drop_duplicate_analysis_jobs_index.sql
  supabase/migrations/028_fix_function_search_paths.sql
  supabase/migrations/029_enable_missing_rls.sql
  supabase/migrations/030_tighten_rls_batch_a.sql
  supabase/migrations/031_tighten_rls_batch_b.sql
  supabase/migrations/032_consolidate_permissive_policies.sql
  supabase/migrations/033_consolidate_decision_votes_select.sql
Due: prettier --check, eslint

docs: add leave hive feature design
  docs/plans/2026-02-16-leave-hive-design.md
Due: prettier --check

docs: add leave hive implementation plan
  docs/plans/2026-02-16-leave-hive.md
Due: prettier --check

feat: add reusable ConfirmationModal component
  app/components/ConfirmationModal.tsx
  app/components/__tests__/ConfirmationModal.test.tsx
Due: prettier --check, eslint

feat: add leaveHiveAction server action
  app/hives/[hiveId]/members/actions.ts
Due: prettier --check, eslint

feat: add LeaveHiveButton with confirmation modal
  app/components/navbar/LeaveHiveButton.tsx
  app/components/navbar/__tests__/LeaveHiveButton.test.tsx
Due: prettier --check, eslint

feat: reduce response character limit and remove frequently mentioned feature
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
  app/components/conversation/ConversationHeader.tsx
  app/components/conversation/FrequentlyMentionedGroupCard.tsx
  app/components/conversation/ListenView.tsx
  app/components/conversation/MobileComposer.tsx
  app/components/conversation/UnderstandView.tsx
  app/hives/[hiveId]/conversations/[conversationId]/layout.tsx
  app/tests/components/UnderstandView.test.tsx
  docs/FREQUENTLY_MENTIONED_IMPLEMENTATION.md
  docs/TYPOGRAPHY_CHEATSHEET.md
  docs/plans/2026-02-16-conversation-description-display-design.md
  lib/__tests__/formatters.test.ts
  lib/conversations/domain/__tests__/similarityGrouping.test.ts
  lib/conversations/domain/similarityGrouping.ts
  lib/conversations/server/__tests__/saveConsolidatedStatements.test.ts
  lib/conversations/server/__tests__/saveResponseEmbeddings.test.ts
  lib/conversations/server/getUnderstandViewModel.ts
  lib/conversations/server/resolveHiveAndConversation.ts
  lib/conversations/server/runConversationAnalysis.ts
  lib/conversations/server/saveConsolidatedStatements.ts
  lib/conversations/server/saveResponseEmbeddings.ts
  lib/conversations/server/saveResponseGroups.ts
  scripts/copy-conversation-data.sql
  scripts/copy-conversation-to-staging.ts
  supabase/migrations/034_remove_frequently_mentioned_tables.sql
  types/conversation-understand.ts
Due: prettier --check, eslint

docs: add edit/delete response UI design
  docs/plans/2026-02-16-edit-delete-response-design.md
Due: prettier --check

feat: add inline edit/delete for own responses in Listen feed
  app/api/conversations/[conversationId]/responses/route.ts
  app/components/conversation/ListenView.tsx
  lib/conversations/domain/listen.types.ts
  lib/conversations/react/__tests__/useConversationFeedRealtime.test.tsx
  lib/conversations/react/useConversationFeed.test.tsx
  lib/conversations/server/__tests__/broadcastResponse.test.ts
  lib/formatters.ts
Due: prettier --check, eslint

feat: improve Listen tab UX with contextual timestamps and keyboard shortcut
  app/components/conversation/ListenView.tsx
  app/components/conversation/MobileComposer.tsx
  lib/__tests__/formatters.test.ts
  lib/formatters.ts
Due: prettier --check, eslint

fix: remove updated_at from response edit - column doesn't exist
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
Due: prettier --check, eslint

fix: use numeric ID for bigint column in response edit/delete
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
Due: prettier --check, eslint

debug: add detailed logging to response edit endpoint
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
Due: prettier --check, eslint

fix: separate update and select operations for response edit
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
Due: prettier --check, eslint

fix: add RLS policy for users to update own responses
  app/api/conversations/[conversationId]/responses/[responseId]/route.ts
  supabase/migrations/035_add_response_update_policy.sql
Due: prettier --check, eslint

docs: add OTP authentication design
  docs/plans/2026-02-16-otp-auth-design.md
Due: prettier --check

docs: add OTP authentication implementation plan
  docs/plans/2026-02-16-otp-auth-implementation.md
Due: prettier --check

fix: update report test mocks to match route implementation
  app/tests/api/report.test.ts
Due: prettier --check, eslint

test: add OtpInput component tests
  app/(auth)/components/__tests__/OtpInput.test.tsx
Due: prettier --check, eslint

feat: implement OtpInput component
  app/(auth)/components/OtpInput.tsx
  app/(auth)/components/__tests__/OtpInput.test.tsx
Due: prettier --check, eslint

feat: add sendOtp and verifyOtp to useAuth hook
  app/(auth)/hooks/useAuth.ts
Due: prettier --check, eslint

feat: implement OTP login flow
  app/(auth)/components/LoginForm.tsx
  app/(auth)/login/LoginPageClient.tsx
Due: prettier --check, eslint

test: update auth tests for OTP flow
  app/tests/components/LoginForm.test.tsx
  app/tests/hooks/useAuth.test.ts
  app/tests/login-page.test.tsx
Due: prettier --check, eslint

docs: update auth documentation for OTP flow
  docs/feature-map.md
  lib/auth/README.md
Due: prettier --check

feat: implement OTP authentication flow
  app/(auth)/components/LoginForm.tsx
  app/(auth)/components/OtpInput.tsx
  app/(auth)/components/__tests__/OtpInput.test.tsx
  app/(auth)/hooks/useAuth.ts
  app/(auth)/login/LoginPageClient.tsx
  app/tests/hooks/useAuth.test.ts
  docs/feature-map.md
  lib/auth/README.md
  lib/auth/react/GuestGuard.tsx
Due: prettier --check, eslint

feat: add Leave Hive button and UX improvements
  app/components/Navbar.tsx
  app/components/conversation/ListenView.tsx
  app/components/conversation/MobileComposer.tsx
  app/components/navbar/PageSelector.tsx
Due: prettier --check, eslint

fix: update conversation type labels
  app/components/new-session-wizard.tsx
  app/hives/[hiveId]/components/ConversationCard.tsx
Due: prettier --check, eslint

docs: add Welcome Hive & Social Homepage design
  docs/plans/2026-02-19-welcome-hive-design.md
Due: prettier --check

docs: add Welcome Hive implementation plan
  docs/plans/2026-02-19-welcome-hive-implementation.md
Due: prettier --check

feat(db): add social feature tables (activity, reactions, presence)
  supabase/migrations/036_create_social_tables.sql
Due: none

fix: address code quality issues in social tables migration
  supabase/migrations/036_create_social_tables.sql
Due: none

feat(db): add is_system_hive column with deletion protection
  supabase/migrations/037_add_system_hive_column.sql
Due: none

feat: add activity service for hive activity feed
  lib/social/server/__tests__/activityService.test.ts
  lib/social/server/activityService.ts
  lib/social/types.ts
Due: prettier --check, eslint

fix: address code quality issues in system hive migration
  supabase/migrations/037_add_system_hive_column.sql
Due: none

feat: add Welcome Hive seed script and constants
  lib/hives/constants.ts
  scripts/seed-welcome-hive.ts
Due: prettier --check, eslint

feat: add useHiveActivity hook for real-time activity feed
  lib/social/hooks/useHiveActivity.ts
Due: prettier --check, eslint

feat: add useHivePresence hook for real-time presence
  lib/social/hooks/__tests__/useHivePresence.test.tsx
  lib/social/hooks/useHivePresence.ts
Due: prettier --check, eslint

feat: add useHiveReactions hook for real-time reaction wall
  lib/social/hooks/index.ts
  lib/social/hooks/useHiveReactions.ts
Due: prettier --check, eslint

feat: add sidebar components for social features
  components/social/ActivitySidebar.tsx
  components/social/PresenceSidebar.tsx
  components/social/ReactionsSidebar.tsx
  components/social/index.ts
Due: prettier --check, eslint
