Repository JeeCharns/hivemind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --check

Root page redirection
  AGENTS.md
  CLAUDE.md
  app/layout.tsx
  app/page.tsx
  lib/auth/README.md
  middleware.disabled.ts
Due: prettier --check, eslint

Implementing understand and report tabs
  app/api/conversations/[conversationId]/analysis-status/route.ts
  app/api/conversations/[conversationId]/report/route.ts
  app/api/conversations/[conversationId]/responses/route.ts
  app/api/conversations/[conversationId]/understand/route.ts
  app/components/conversation/ListenView.tsx
  app/components/conversation/ReportView.tsx
  app/components/conversation/UnderstandViewContainer.tsx
  app/hives/[hiveId]/conversations/[conversationId]/understand/page.tsx
  app/tests/api/conversations-create.test.ts
  app/tests/api/responses.test.ts
  docs/feature-map.md
  docs/realtime-setup.md
  lib/conversations/README.md
  lib/conversations/react/__tests__/useConversationAnalysisRealtime.test.tsx
  lib/conversations/react/useAnalysisStatus.ts
  lib/conversations/react/useConversationAnalysisRealtime.ts
  lib/conversations/schemas.ts
  lib/conversations/server/__tests__/maybeEnqueueAutoAnalysis.test.ts
  lib/conversations/server/__tests__/runConversationAnalysis.test.ts
  lib/conversations/server/importResponsesFromCsv.ts
  lib/conversations/server/maybeEnqueueAutoAnalysis.ts
  lib/conversations/server/runConversationAnalysis.ts
  package-lock.json
  package.json
  scripts/README.md
  scripts/analysis-worker.ts
  scripts/apply-migrations.ts
  supabase/migrations/004_enhance_analysis_fields.sql
  types/conversation-understand.ts
Due: prettier --check, eslint

Implementing decision space conversations fix
  lib/conversations/schemas.ts
  lib/conversations/server/getVoteViewModel.ts
Due: prettier --check, eslint

Updating env keys
  AGENTS.md
  CLAUDE.md
  docs/realtime-setup.md
  docs/setup/README.md
  lib/supabase/client.ts
  lib/supabase/serverClient.ts
  scripts/README.md
  scripts/analysis-worker.ts
  scripts/apply-migrations.ts
  temp/lib/supabase/serverComponentClient.ts
Due: prettier --check, eslint

getting invite links working
  app/(auth)/login/page.tsx
  app/api/hives/[hiveId]/share-link/route.ts
  app/api/hives/route.ts
  app/api/invites/[token]/accept/route.ts
  app/api/invites/[token]/preview/route.ts
  app/components/conversation/ConversationHeader.tsx
  app/components/toast.tsx
  app/hives/HivesHome.tsx
  app/hives/[hiveId]/conversations/[conversationId]/layout.tsx
  app/hives/components/HiveShareInvitePanel.tsx
  app/hives/new/new-hive-wizard.tsx
  app/hives/new/page.tsx
  app/invite/[token]/page.tsx
  app/tests/api/hives-create.test.ts
  app/tests/api/hives-invite.test.ts
  app/tests/api/hives-share-link.test.ts
  docs/README.md
  docs/feature-map.md
  docs/specs/create-hive-wizard.md
  docs/specs/hive-share-invite-links-qa.md
  docs/specs/hive-share-invite-links.md
  lib/hives/schemas.ts
  lib/hives/server/createHive.ts
  lib/hives/server/joinHive.ts
  lib/hives/server/shareLinkService.ts
  lib/profiles/server/ensureProfileExists.ts
  lib/supabase/adminClient.ts
  supabase/migrations/007_create_hive_invite_links.sql
  supabase/migrations/008_allow_public_invite_preview.sql
  supabase/migrations/009_remove_public_invite_preview_policy.sql
Due: prettier --check, eslint

fixing deployment bug
  app/(auth)/login/LoginPageClient.tsx
  app/(auth)/login/page.tsx
  docs/feature-map.md
  docs/specs/hive-share-invite-links-qa.md
  docs/specs/hive-share-invite-links.md
  supabase/README.md
  supabase/migrations/001_create_hive_invites.sql
  supabase/migrations/002_create_conversation_analysis_jobs.sql
  supabase/migrations/003_add_analysis_fields.sql
  supabase/migrations/004_enhance_analysis_fields.sql
  supabase/migrations/005_add_profile_avatar.sql
  supabase/migrations/006_add_solution_space_fields.sql
  supabase/migrations/007_create_hive_invite_links.sql
  supabase/migrations/008_allow_public_invite_preview.sql
  supabase/migrations/009_remove_public_invite_preview_policy.sql
  supabase/migrations/README.md
Due: prettier --check, eslint

deployment bug fix
  TYPOGRAPHY_MIGRATION_SUMMARY.md
  app/(auth)/login/LoginPageClient.tsx
  app/(hives)/components/HiveCard.tsx
  app/(hives)/components/InviteForm.tsx
  app/(hives)/components/SettingsForm.tsx
  app/components/conversation/UnderstandView.tsx
  app/components/new-session-wizard.tsx
  app/hives/[hiveId]/components/ConversationCard.tsx
  app/hives/components/HiveCard.tsx
  app/settings/AccountSettingsForm.tsx
  app/settings/page.tsx
  docs/TYPOGRAPHY_MIGRATION_BATCH.md
  lib/auth/react/GuestGuard.tsx
  lib/conversations/server/__tests__/testUtils.ts
  temp/components/navbar.tsx
Due: prettier --check, eslint

Fix logo filename case sensitivity for production deployment
  public/HiveLogo.png
  public/HiveMindLogo.png
Due: none

fix
  app/components/conversation/FrequentlyMentionedGroupCard.tsx
  app/components/conversation/UnderstandView.tsx
  app/components/new-session-launcher.tsx
  app/hives/[hiveId]/components/ConversationCard.tsx
  lib/conversations/domain/thresholds.ts
  lib/visualization/clusterHull.ts
Due: prettier --check, eslint

deployment fix
  app/[hiveId]/page.tsx
Due: prettier --check, eslint

bug fix
  lib/conversations/getConversationCta.test.ts
  lib/conversations/server/createConversation.ts
  types/conversations.ts
Due: prettier --check, eslint

cluster regeneration loop bug fix
  lib/conversations/react/useAnalysisStatus.ts
  lib/conversations/server/__tests__/testUtils.ts
  lib/conversations/server/__tests__/triggerConversationAnalysis.test.ts
  lib/conversations/server/triggerConversationAnalysis.ts
Due: prettier --check, eslint

Updated hive privacy, consensus matrix and others
  app/(auth)/login/LoginPageClient.tsx
  app/api/hives/[hiveId]/join/route.ts
  app/api/hives/route.ts
  app/components/brand-logo.tsx
  app/components/conversation/ConsensusMatrix.tsx
  app/hives/[hiveId]/HiveHome.tsx
  app/hives/[hiveId]/invite/InviteShareClient.tsx
  app/hives/[hiveId]/invite/page.tsx
  app/hives/[hiveId]/page.tsx
  app/hives/[hiveId]/settings/SettingsClient.tsx
  app/hives/[hiveId]/settings/actions.ts
  app/hives/[hiveId]/settings/page.tsx
  app/hives/components/HiveShareInvitePanel.tsx
  app/hives/new/new-hive-wizard.tsx
  app/tests/api/hives-create.test.ts
  app/tests/api/hives-join.test.ts
  docs/database/README.md
  docs/feature-map.md
  docs/specs/create-hive-wizard.md
  docs/specs/live-feed-broadcast.md
  lib/auth/react/GuestGuard.tsx
  lib/conversations/getConversationCta.test.ts
  lib/conversations/getConversationCta.ts
  lib/conversations/server/__tests__/runConversationAnalysisIncremental.test.ts
  lib/conversations/server/__tests__/testUtils.ts
  lib/conversations/server/__tests__/triggerConversationAnalysis.simple.test.ts
  lib/hives/schemas.ts
  lib/hives/server/createHive.ts
  lib/hives/server/getHiveSettings.ts
  lib/hives/server/joinHive.ts
  lib/hives/server/searchJoinableHives.ts
  scripts/fix-conversation-status.ts
  scripts/reset-stuck-job.ts
  scripts/run-queued-job.ts
  supabase/README.md
  supabase/migrations/018_add_hive_visibility.sql
  types/hive-settings.ts
  types/hives-api.ts
Due: prettier --check, eslint

generate state bug fix
  app/components/conversation/UnderstandViewContainer.tsx
Due: prettier --check, eslint

regenerate analysis bug fix
  app/components/conversation/UnderstandViewContainer.tsx
  app/tests/components/UnderstandViewContainer.test.tsx
  scripts/analysis-worker.ts
Due: prettier --check, eslint

debugging logs bug fix
  app/(auth)/callback/page.tsx
  lib/conversations/server/getUnderstandViewModel.ts
  lib/supabase/storage.ts
Due: prettier --check, eslint

Add more debug logging for clusterBuckets issue
  app/hives/[hiveId]/conversations/[conversationId]/understand/page.tsx
  lib/conversations/server/getUnderstandViewModel.ts
Due: prettier --check, eslint

Force dynamic rendering on understand page to fix caching
  app/hives/[hiveId]/conversations/[conversationId]/understand/page.tsx
Due: prettier --check, eslint

Add debug info to understand API response
  app/api/conversations/[conversationId]/understand/route.ts
Due: prettier --check, eslint

Add build timestamp to debug understand API deployment
  app/api/conversations/[conversationId]/understand/route.ts
Due: prettier --check, eslint

Force dynamic on understand API route, update build timestamp
  app/api/conversations/[conversationId]/understand/route.ts
Due: prettier --check, eslint

update understand tab ux and result tab
  app/api/conversations/[conversationId]/report/route.ts
  app/components/conversation/ClusterBucketCard.tsx
  app/components/conversation/ConsensusMatrix.tsx
  app/components/conversation/ConversationHeader.tsx
  app/components/conversation/ReportView.tsx
  app/components/conversation/UnderstandView.tsx
  app/components/conversation/UnderstandViewContainer.tsx
  lib/analysis/openai/clusterConsolidator.ts
  lib/conversations/data/reportClient.ts
  lib/conversations/domain/__tests__/responseConsensus.test.ts
  lib/conversations/domain/buildClusterSummaries.ts
  lib/conversations/domain/responseConsensus.ts
  lib/conversations/react/useAnalysisStatus.ts
  lib/conversations/react/useConversationAnalysisRealtime.ts
  lib/conversations/react/useConversationReport.ts
  lib/conversations/server/getReportViewModel.ts
  types/conversation-report.ts
Due: prettier --check, eslint

UI tweaks and updates
  app/api/conversations/[conversationId]/analysis-status/route.ts
  app/api/conversations/[conversationId]/buckets/[bucketId]/responses/route.ts
  app/api/conversations/[conversationId]/feedback/route.ts
  app/api/responses/[responseId]/like/route.ts
  app/components/conversation/ClusterBucketCard.tsx
  app/components/conversation/ListenView.tsx
  app/components/conversation/UnderstandView.tsx
  app/components/conversation/UnderstandViewContainer.tsx
  app/components/new-session-wizard.tsx
  app/tests/api/feedback.test.ts
  app/tests/components/UnderstandView.test.tsx
  docs/feature-map.md
  docs/setup/README.md
  lib/analysis/openai/clusterConsolidator.ts
  lib/api/rateLimit.ts
  lib/conversations/README.md
  lib/conversations/react/__tests__/useConversationAnalysisRealtime.test.tsx
  lib/conversations/react/useBucketResponses.ts
  lib/conversations/react/useConversationAnalysisRealtime.ts
  lib/conversations/react/useConversationFeed.ts
  lib/conversations/react/useConversationFeedRealtime.ts
  lib/conversations/react/useConversationPresence.ts
  lib/conversations/schemas.ts
  lib/conversations/server/__tests__/triggerConversationAnalysis.test.ts
  lib/conversations/server/broadcastAnalysisStatus.ts
  lib/conversations/server/broadcastLikeUpdate.ts
  lib/conversations/server/getUnderstandViewModel.ts
  lib/conversations/server/runConversationAnalysis.ts
  lib/conversations/server/triggerConversationAnalysis.ts
  package-lock.json
  package.json
  supabase/README.md
  supabase/migrations/021_add_feedback_count_function.sql
  supabase/migrations/022_add_vote_composite_index.sql
  supabase/migrations/023_allow_members_to_create_invite_links.sql
  types/conversation-understand.ts
Due: prettier --check, eslint

Analysis worker fix to keep function alive until analysis completes
  app/api/conversations/[conversationId]/analyze/route.ts
  lib/conversations/schemas.ts
  lib/conversations/server/enqueueConversationAnalysis.ts
  lib/conversations/server/maybeEnqueueAutoAnalysis.ts
  lib/conversations/server/runAnalysisInBackground.ts
  lib/conversations/server/triggerConversationAnalysis.ts
Due: prettier --check, eslint

analysis loading state UI
  app/components/conversation/UnderstandView.tsx
  app/components/conversation/UnderstandViewContainer.tsx
  lib/conversations/README.md
  lib/conversations/react/useConversationAnalysisRealtime.ts
  lib/conversations/server/broadcastAnalysisStatus.ts
  lib/conversations/server/runConversationAnalysis.ts
Due: prettier --check, eslint

analysis ui fux
  app/components/conversation/UnderstandViewContainer.tsx
Due: prettier --check, eslint

loading spinner during analysis
  app/components/conversation/UnderstandView.tsx
  app/components/conversation/UnderstandViewContainer.tsx
Due: prettier --check, eslint

Add supabase/.temp/ to gitignore and remove from tracking
  .gitignore
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/project-ref
  supabase/.temp/rest-version
  supabase/.temp/storage-migration
  supabase/.temp/storage-version
Due: none

vote counting bug fix
  app/components/conversation/ClusterBucketCard.tsx
  lib/conversations/domain/__tests__/responseConsensus.test.ts
  lib/conversations/domain/responseConsensus.ts
Due: prettier --check, eslint

live feed scaling
  app/api/conversations/[conversationId]/report/route.ts
  app/components/conversation/ListenView.tsx
  lib/conversations/domain/listen.types.ts
  lib/conversations/react/useConversationFeedRealtime.ts
Due: prettier --check, eslint

Add decision space design document
  docs/plans/2026-01-26-decision-space-design.md
Due: prettier --check

Add .worktrees/ to gitignore
  .gitignore
Due: none

docs: add decision space implementation plan
  docs/plans/2026-01-26-decision-space-implementation.md
Due: prettier --check

feat: add decision space database tables
  supabase/README.md
  supabase/migrations/024_decision_space_tables.sql
Due: prettier --check

Path conditions:
  prettier --check: any of: *.{js,cjs,mjs,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx}
