Repository JeeCharns/hivemind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

feat: Share temporary link
  .vscode/settings.json
  app/(guest)/components/GuestConversationHeader.tsx
  app/(guest)/components/GuestNavbar.tsx
  app/(guest)/respond/[token]/layout.tsx
  app/(guest)/respond/[token]/listen/page.tsx
  app/(guest)/respond/[token]/page.tsx
  app/(guest)/respond/[token]/result/page.tsx
  app/(guest)/respond/[token]/understand/page.tsx
  app/api/conversations/[conversationId]/responses/route.ts
  app/api/conversations/[conversationId]/share-link/route.ts
  app/api/guest/[token]/feedback/route.ts
  app/api/guest/[token]/init/route.ts
  app/api/guest/[token]/report/route.ts
  app/api/guest/[token]/responses/[responseId]/like/route.ts
  app/api/guest/[token]/responses/route.ts
  app/api/guest/[token]/session/route.ts
  app/api/guest/[token]/understand/route.ts
  app/components/conversation/ConversationHeader.tsx
  app/components/conversation/ConversationShareLinkPanel.tsx
  app/components/conversation/GuestResultContainer.tsx
  app/components/conversation/GuestUnderstandContainer.tsx
  app/components/conversation/UnderstandView.tsx
  app/tests/api/conversations/share-link.test.ts
  app/tests/api/guest/session.test.ts
  docs/feature-map.md
  lib/conversations/README.md
  lib/conversations/guest/__tests__/conversationShareLinkService.test.ts
  lib/conversations/guest/__tests__/guestSessionService.test.ts
  lib/conversations/guest/__tests__/requireGuestSession.test.ts
  lib/conversations/guest/conversationShareLinkService.ts
  lib/conversations/guest/guestApiClient.ts
  lib/conversations/guest/guestFeedbackClient.ts
  lib/conversations/guest/guestSessionService.ts
  lib/conversations/guest/index.ts
  lib/conversations/guest/requireGuestSession.ts
  lib/conversations/guest/schemas.ts
  supabase/README.md
  supabase/migrations/041_create_conversation_share_links.sql
  supabase/migrations/042_create_guest_sessions.sql
  types/guest-api.ts
Due: prettier --check, eslint

fix: address guest sharing code review issues
  app/api/guest/[token]/feedback/route.ts
  app/api/guest/[token]/init/route.ts
  app/api/guest/[token]/report/route.ts
  app/api/guest/[token]/responses/[responseId]/like/route.ts
  app/api/guest/[token]/responses/route.ts
  app/api/guest/[token]/understand/route.ts
  docs/feature-map.md
  lib/api/rateLimit.ts
  lib/conversations/README.md
  lib/conversations/constants.ts
  lib/conversations/guest/requireGuestSession.ts
  supabase/README.md
  supabase/migrations/042_create_guest_sessions.sql
Due: prettier --check, eslint

Add plan docs for avatar navbar fix and guest share link
  docs/plans/2026-02-22-avatar-image-navbar-fix.md
  docs/plans/2026-02-23-guest-share-link-design.md
Due: prettier --check

Fix code review issues: security, refactor, tests
  .vscode/settings.json
  app/(guest)/respond/[token]/layout.tsx
  app/(guest)/respond/[token]/listen/page.tsx
  app/api/conversations/[conversationId]/share-link/route.ts
  app/api/guest/[token]/init/route.ts
  app/api/guest/[token]/report/route.ts
  app/api/guest/[token]/responses/[responseId]/like/route.ts
  app/api/guest/[token]/responses/route.ts
  app/api/guest/[token]/session/route.ts
  app/api/guest/[token]/understand/route.ts
  app/components/conversation/ConversationShareLinkPanel.tsx
  app/components/conversation/GuestUnderstandContainer.tsx
  app/components/conversation/ListenView.tsx
  app/tests/api/conversations/share-link.test.ts
  app/tests/api/guest/session.test.ts
  app/tests/api/responses.test.ts
  app/tests/components/PageSelector.test.tsx
  docs/feature-map.md
  docs/plans/2026-02-22-avatar-image-navbar-fix.md
  docs/plans/2026-02-23-guest-share-link-design.md
  jest.config.cjs
  jest.setup.ts
  lib/conversations/README.md
  lib/conversations/guest/__tests__/conversationShareLinkService.test.ts
  lib/conversations/guest/__tests__/guestSessionService.test.ts
  lib/conversations/guest/conversationShareLinkService.ts
  lib/conversations/guest/guestApiClient.ts
  lib/conversations/guest/guestSessionService.ts
  lib/conversations/guest/index.ts
  lib/conversations/guest/requireGuestSession.ts
  lib/conversations/server/getReportViewModel.ts
  lib/conversations/server/getUnderstandViewModel.ts
  lib/social/server/__tests__/reactionsService.test.ts
  scripts/create-claim-job-function.ts
  scripts/diagnose-cluster-assignment.ts
  supabase/migrations/043_fix_guest_unique_constraints.sql
Due: prettier --check, eslint

Fix guest UI parity, share link domain, and banner styling
  app/(guest)/components/GuestConversationHeader.tsx
  app/(guest)/respond/[token]/listen/page.tsx
  app/components/conversation/GuestListenContainer.tsx
  app/components/conversation/ListenView.tsx
  app/components/conversation/MobileComposer.tsx
  app/invite/[token]/page.tsx
  lib/conversations/guest/__tests__/conversationShareLinkService.test.ts
  lib/conversations/guest/conversationShareLinkService.ts
  lib/conversations/guest/guestLikesClient.ts
  lib/conversations/guest/guestResponsesClient.ts
  lib/notifications/server/emailService.ts
Due: prettier --check, eslint

Fix guest banner revert and sign-up button text colour
  app/(guest)/components/GuestConversationHeader.tsx
  app/(guest)/components/GuestNavbar.tsx
  app/components/conversation/GuestResultContainer.tsx
  app/components/conversation/GuestUnderstandContainer.tsx
Due: prettier --check, eslint

Fix guest display, like errors, and session data unwrapping
  app/api/conversations/[conversationId]/responses/route.ts
  app/api/responses/[responseId]/like/route.ts
  app/components/conversation/GuestListenContainer.tsx
  app/tests/api/response-likes.test.ts
  app/tests/api/responses.test.ts
Due: prettier --check, eslint

Fix feedback vote not persisting (partial index compat)
  app/api/conversations/[conversationId]/feedback/route.ts
  app/tests/api/feedback.test.ts
Due: prettier --check, eslint

Add design doc for guest-to-user conversion
  docs/plans/2026-02-25-guest-to-user-conversion-design.md
Due: prettier --check

Add implementation plan for guest-to-user conversion
  docs/plans/2026-02-25-guest-to-user-conversion-implementation.md
Due: prettier --check

feat(db): add guest session conversion tracking columns
  supabase/README.md
  supabase/migrations/044_guest_session_conversion.sql
Due: prettier --check

feat(db): add migrate_guest_session RPC function
  supabase/migrations/044_guest_session_conversion.sql
Due: none

feat(api): add guest migration check endpoint
  app/api/auth/guest-migration/check/route.ts
  app/tests/api/auth/guest-migration-check.test.ts
Due: prettier --check, eslint

feat(api): add guest migration execute endpoint
  app/api/auth/guest-migration/execute/route.ts
  app/tests/api/auth/guest-migration-execute.test.ts
Due: prettier --check, eslint

feat(ui): add GuestMigrationPrompt component
  app/(auth)/components/GuestMigrationPrompt.tsx
Due: prettier --check, eslint

feat(auth): integrate guest migration into login flow
  app/(auth)/login/LoginPageClient.tsx
Due: prettier --check, eslint

docs: mark guest migration as implemented, update feature map
  docs/feature-map.md
  docs/plans/2026-02-25-guest-to-user-conversion-design.md
Due: prettier --check

Add design doc for activity feed enhancement
  docs/plans/2026-02-25-activity-feed-design.md
Due: prettier --check

docs: add implementation plan for activity feed enhancement
  docs/plans/2026-02-25-activity-feed-implementation.md
Due: prettier --check

feat(db): update activity event types schema
  supabase/migrations/045_update_activity_event_types.sql
Due: none

feat(types): update activity event types and add metadata interface
  lib/social/types.ts
Due: prettier --check, eslint

test: update activity service test for new event types
  lib/social/server/__tests__/activityService.test.ts
Due: prettier --check, eslint

feat: log activity when conversation is created
  lib/conversations/server/createConversation.ts
Due: prettier --check, eslint

fix(ui): improve guest participation tab and posting display
  app/components/conversation/ConversationHeader.tsx
  app/components/conversation/ListenView.tsx
Due: prettier --check, eslint

fix(guest): check shareLinkId to prevent session reuse across links
  app/(guest)/respond/[token]/layout.tsx
  app/api/guest/[token]/init/route.ts
  app/api/guest/[token]/session/route.ts
Due: prettier --check, eslint

feat(guest): add getConvertibleGuestSession helper
  lib/conversations/guest/__tests__/guestSessionService.test.ts
  lib/conversations/guest/guestSessionService.ts
Due: prettier --check, eslint

feat(auth): add migrateGuestSession service
  lib/auth/server/__tests__/migrateGuestSession.test.ts
  lib/auth/server/migrateGuestSession.ts
Due: prettier --check, eslint

chore: add dark/light mode favicons and welcome hive logo
  app/layout.tsx
  public/icon-dark.png
  public/icon-light.png
  public/welcome-hive-logo.svg
  scripts/seed-welcome-hive.ts
Due: prettier --check, eslint

feat(activity): log analysis completion to hive activity feed
  lib/conversations/server/runConversationAnalysis.ts
Due: prettier --check, eslint

feat: log activity when analysis completes (incremental)
  lib/conversations/server/runConversationAnalysisIncremental.ts
Due: prettier --check, eslint

feat: log activity when report is generated
  app/api/conversations/[conversationId]/report/route.ts
Due: prettier --check, eslint

feat: log activity when voting round is closed
  lib/decision-space/server/closeDecisionRound.ts
Due: prettier --check, eslint

feat: update activity sidebar to display new event types
  components/social/ActivitySidebar.tsx
Due: prettier --check, eslint

test: fix integration test mock for activity logging
  lib/decision-space/server/__tests__/integration.test.ts
Due: prettier --check, eslint

debug: add logging to guest session conversion check
  lib/conversations/guest/guestSessionService.ts
Due: prettier --check, eslint

fix: use correct column name (slug) for hive in guest session query
  lib/conversations/guest/guestSessionService.ts
Due: prettier --check, eslint

fix: prevent GuestGuard redirect during post-auth migration check
  app/(auth)/login/LoginPageClient.tsx
  app/api/auth/guest-migration/check/route.ts
  lib/auth/react/GuestGuard.tsx
Due: prettier --check, eslint

fix: use correct column name avatar_path in hive page profile query
  app/hives/[hiveId]/page.tsx
Due: prettier --check, eslint

fix: ensure profile exists before guest migration and handle missing Welcome Hive
  lib/hives/server/__tests__/joinWelcomeHive.test.ts
  lib/hives/server/joinWelcomeHive.ts
  supabase/migrations/046_fix_migrate_guest_session_profile.sql
Due: prettier --check, eslint

feat: redesign guest migration as full-screen two-step flow
  app/(auth)/components/GuestMigrationPrompt.tsx
Due: prettier --check, eslint

Path conditions:
  prettier --check: any of: *.{js,cjs,mjs,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}
  eslint: any of: *.{js,cjs,mjs,jsx,ts,tsx}
